# Git
.git
.gitignore
.gitattributes

# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Logs
*.log

# Otros
README.md
HELP.md
*.md
.DS_Store 